{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": true, "variables": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "prettier/prettier": "error",
    "no-param-reassign": 0,
    "linebreak-style": 0,
    "import/prefer-default-export": 0,
    "camelcase": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "fetch": true
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint"
}
